<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>Learn Express Template</title>
    <style>
        .demo1 {
            color: red;
        }

        #demo2 {
            color: aqua;
        }
    </style>
</head>

<body>
    <h1 class="demo1">Welcome to learning tricks</h1>
    <h1 id="demo2">learning by developer</h1><a href="http://www.google.com">click here</a><a
        href="http://www.twitter.com">click twitter </a><a href="http://www.instagram.com">click twitter </a>
    <div class="mydiv class1 class2">Hello costant div clas</div>
    <div style="color:green;">hello my style</div><img href="style.img" alt="dummy image">
    <ul>
        <li>sakthi</li>
        <li>2</li>
        <li>3</li>
    </ul>
    <div>
        <input type="text" placeholder="type text">
    </div>
    <div>
        <h1>thanks</h1>
    </div>
    <!-- if statement-->
    <p>welcome back,<strong>xxxx</strong></p>
</body>

</html>